body {
    background-color: #fffeff;
}

.navbar-dark {
    padding: 1em;
}

.bg-dark {
    background-color: #253C78 !important;
}

.card {
    margin-bottom: 1em;
    border-radius: 10px;
}

.sidebar {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 1em;
    background-color: #fffeff;
}


.sidebar .avatar {
    padding: 0.1em;
    text-align: center;
    font-size: 5em;
    background-color: #576CA8;
    color: #D5F2EB;
    border-radius: 10px;
    margin-bottom: 0.1em;
}

.menu-option {
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}

.menu-option fa {
    font-size: 4em;
}

.login {
    margin-top: 12em;
}

.starling-login {
    background-color: #181238;
    border: 1px solid #181238;
    border-radius: 10px;
}

.starling-login:hover {
    background-color: #7433FF;
}

.starling-login img {
    height: 2em;
    width: auto;
    margin-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}